{% extends "layout_new.html" %}

{% block main %}
    <header class="d-flex container-fluid justify-content-between px-5">
        <a href="/">
            <img src="../static/logowosh_canon.png">
        </a>
        <form class="my-auto" action="/query" method="get">
            <input type="text" placeholder="Pesquisa" name="key">
        </form>
        <a class="h_link">HOMER</a>
        <a class="h_link" href="/custom">CARRINHO</a>
    </header>
    <div id="cart_div">
        {% for i in items %}
            <div class="cart_cell">
                <div>
                    <img src={{ i["item"]["image"] }} class="shirt">
                    <h5>{{ i["item"]["name"] }}</h5>
                    <h5>R${{ "{:.2f}".format(i["item"]["price"]) }}</h5>
                    <h6>{{ i["item"]["colors"].split("_")|length }} color(s) avaliable</h6>
                </div>
                <img src="../static/logowosh_canon.png" class="cart_logo">
                <form action="/cart_del" method="POST" class="delete_order">
                    <input type="number" id="deleted_id" value={{ i["order"].id }} name="id">
                    <button>Deletar</button>
                </form>
            </div>
        {% endfor %}

        {% if items == [] %}
            <h1>Parece que você ainda não comprou nenhum produto. Porque não passa no nosso marketplace ? ; )</h1>
        {% else %}
                <button><a href="/buy">Comprar</a></button>
        {% endif %}
    </div>
{% endblock %}